@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Open+Sans:wght@500&display=swap');

.sector {
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;

}

.sector-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.detached {
    transition: all 0.3s;
    filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.3));
}


.sector-text {
    opacity: 0.8;
    animation: fade-in 1s ease forwards;
    user-select: none;
    filter: none;
}

/*.sector-text.highlighted {*/
/*    filter: brightness(3.2);*/
/*}*/

@keyframes fade-in {
    to {
        opacity: 1;
    }
}
